.widget {
  font-family: Roboto, sans-serif;
  border-color: #3ea1ed;
  border-style: solid;
  border-radius: 10%;
  width: 800px;
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 15px;
}
.post-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 20px;
  gap: 15px;
}
.post-list__item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-color: #b7b6b6;
  border-style: solid;
  border-width: 2px;
  padding: 10px 5px;
}
.post-list__item__text {
  width: 100%;
}
.post-list__item__subText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: #818181;
}
.post-list__item__subInfo {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
